.navbar-nav, .navbar-brand{
    background-color: darkgreen;
    color: whitesmoke;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
    float:right;
    color: gold;
    font-weight: bold;
    font-size: 1em;
}
h1{
    color: whitesmoke;
}
td {
    background-color: darkgreen;
}
body {
    background: url("https://i.pinimg.com/originals/61/71/a9/6171a9e09c6747861af7a8628e403660.jpg")
    center center fixed;
    background-size: cover;
    color: whitesmoke;
}