  <!-- *ngFor "let item of datathatwillcomefromanapi" -->
  
  <!-- <table border="2" cellspadding="10" cellspacing="10">
    <tr>
      <th> BusNumber </th>
      <th> First Location </th>
      <th> Last Location </th>
      <th>  Locations </th>
      <th> Book</th>
      
    </tr>
    <tr *ngFor="let item of datathatwillcomefromanapi">  
      <td > {{item.bus1.busNumber}}</td>
      <td > {{item.bus1.startLocation}}</td>
      <td > {{item.bus1.endLocation}}</td>
      <td > 
          <a href="#" *ngFor="let loc of item.bus1.stopaje">
              {{loc.location}},
          </a>
      </td>
      
      <td> 
      <button (click)="bookBus(item.bus1)">Book This </button>  
      </td>
    </tr>
  </table> -->
<!-- {{datathatwillcomefromanapi}} -->

<!-- Second Data Table - Redesign -->
<table mat-table [dataSource]="datathatwillcomefromanapi" class="mat-elevation-z8">

  <ng-container matColumnDef="BusNumber">
    <th mat-header-cell *matHeaderCellDef> Bus Number </th>
    <td mat-cell *matCellDef="let item"> {{item.bus1.busNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="StartLocation">
    <th mat-header-cell *matHeaderCellDef> First Location </th>
    <td mat-cell *matCellDef="let item"> {{item.bus1.startLocation}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="EndLocation">
    <th mat-header-cell *matHeaderCellDef> Last Location </th>
    <td mat-cell *matCellDef="let item"> {{item.bus1.endLocation}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let item"> {{item.bus1.location}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>