  <!-- *ngFor "let item of datathatwillcomefromanapi" -->
  
  <table border="2" cellspadding="10" cellspacing="10">
    <tr>
      <th> BusNumber </th>
      <th> First Location </th>
      <th> Last Location </th>
      <th>  Locations </th>
      <th> Book</th>
      
    </tr>
    <tr *ngFor="let item of datathatwillcomefromanapi">  
      <td > {{item.bus1.busNumber}}</td>
      <td > {{item.bus1.startLocation}}</td>
      <td > {{item.bus1.endLocation}}</td>
      <td > 
          <a href="#" *ngFor="let loc of item.bus1.stopaje">
              {{loc.location}},
          </a>
      </td>
      
      <td> 
      <button (click)="bookBus(item.bus1)">Book This </button>  
      </td>
    </tr>
  </table>
<!-- {{datathatwillcomefromanapi}} -->
