<h1>register here!</h1>

<form action="/guardian" method="POST">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="lastName">
    </div>
            <label for="name">Cell Phone: </label>
            <input type="text" name="cellPhone">
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
